.App {
    display: flex;
    justify-content: stretch;
    height: 100vh;
    max-width: 100%;
}

.App > nav {
    width: 300px;
    overflow: auto;
}
.App > main {
    flex: 1;
    overflow: auto;
}
