body {
	background: #777;
}

nav.main-nav {
	background: linear-gradient(#2f2f2f, #4f4f4f);
}

.top-nav {
	border-bottom: 2px solid #111;
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.top-nav li {
	background: linear-gradient(#2f2f2f, #4f4f4f);
	border-bottom: 2px solid #111;
	border-right: 1px solid #555;
	float: left;
	font-size: 14px;
	height: 20px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	width: 150px;
	transition-property: height;
	transition-duration: 2s;
	transition-timing-function: cubic-bezier;
}

.top-nav li:hover {
	height: 500px;
}

.top-nav li a {
	color: #aaa;
	padding-top: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 25px;
	text-decoration: none;
}


#test {
	position: absolute;
	top:  400px;
	left: 500px;
	color: #555;
	margin: 50px 20px;
	border: 1px solid #000;
	width: 100px;
	max-height: 20px;
	overflow: hidden;
	transition: max-height .4s;
}
#test:hover {
	max-height: 200px;
}

#test div {
	line-height: 20px;
	background: linear-gradient(red, orange);
	cursor: pointer;
}
#test div:first-child {
	background: linear-gradient(#222, #333);
}